body{
    margin: 0;
    font-family: monospace;
    color: white;
}
p{
    margin: 0;
    font-size: 2rem;
    padding: 0 5rem;
    text-shadow: 1px 1px #333;
    color: #fff;
}

/****************page with full screen scrolling*********************/

section{
    width: 100vw;
    height: 100vh;
    
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


section:nth-of-type(1){
    background-image: url('https://unsplash.it/1024/683/?image=1068');
}
section:nth-of-type(2){
    background-image: url('https://unsplash.it/1024/683/?image=1073');
}
section:nth-of-type(3){
    background-image: url('https://unsplash.it/1024/683/?image=1047');
}
section:nth-of-type(4){
    background-image: url('https://unsplash.it/1024/683/?image=1051');
}
section:nth-of-type(5){
    background-image: url('https://unsplash.it/1024/683/?image=1061');
}

/****************page with full screen scrolling*********************/

/****************:empty psuedo class*********************/

.alert:not(:empty){
    border:3px solid darkgreen;
    margin: 1em;
    padding: 1em;
    background-color: seagreen;
    color: white;
    border-radius: 4px;
   
}

/*
.alert:empty{
    display: none;
}
*/
/****************:empty psuedo class*********************/


/*unset*/
button{
    display: block;
    width:100px;
    height: 50px;
    background-color: slategray;
    color: green;
}
section button{
    color: unset;
}

















